.page-footer {
  width: 100%;
  flex: 0 0 auto;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid $pale-white-border;
  padding-top: 20px;
  padding-bottom: 30px;
}

.page-footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $min-desktop-width) {
  .page-footer__wrapper {
    margin-left: 2.7%;
    margin-right: 2.7%;
  }

  .page-footer__social {
    display: inline-block;
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .page-footer__wrapper {
    margin-left: 2.7%;
    margin-right: 2.7%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .page-footer__social {
    display: inline-block;
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .page-footer__list {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .page-footer__wrapper {
    margin-left: 5.3%;
    margin-right: 5.3%;
    padding-top: 27px;
    padding-bottom: 40px;
  }

  .page-footer__social {
    display: inline-block;
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .page-footer__list {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
}
