.page-footer {
  width: 100%;
  flex: 0 0 auto;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid $pale-white-border;
  padding-top: 20px;
  padding-bottom: 30px;
}

.page-footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $min-desktop-width) {
  .page-footer__wrapper {
    margin-left: 2.7%;
    margin-right: 2.7%;
  }

  .page-footer__social {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}
