@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .slider__item:nth-child(3),
  .slider__item:nth-child(4) {
    display: none;
  }

  .slider__item:nth-child(2) {
    margin-right: 0;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .slider__item:nth-child(2),
  .slider__item:nth-child(3),
  .slider__item:nth-child(4) {
    display: none;
  }
}
