// Fonts

$font: "Forum",
  "Georgia",
  serif;

// regular - 400


// Colors

$background-color: #3B181E;
$pale-background: rgba(59,24,30,0.8);
$transparent: transparent;
$white: #ffffff;
$black-button: #010001;
$smoky: rgba(0, 0, 0, 0.4);



// Viewport

$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1023px;
$min-desktop-width: 1024px;
$max-desktop-width: 1920px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
