// Fonts

$font: "Forum",
  "Georgia",
  serif;

// regular - 400


// Colors

$background-color: #3b181e;
$pale-background: rgba(248, 245, 245, 0.8);
$transparent: transparent;
$white: #ffffff;
$pale-white-font: rgba(255, 255, 255, 0.5);
$black-button: #010001;
$smoky: rgba(0, 0, 0, 0.4);

// Viewport

$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1023px;
$min-desktop-width: 1024px;
$max-desktop-width: 1920px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
